* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --chessboard-white-square-color: #ebecd0;
  --chessboard-black-square-color: #779556;
  --square-size: 100px;
}

body {
  height: 100vh;
  background: #302e2b;
  display: grid;
  place-items: center;
}

.flex-chessboard {
  display: flex;
  flex-flow: column nowrap;
}

.flex-chessboard-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-chessboard-item {
  height: var(--square-size);
  width: var(--square-size);
  background: var(--chessboard-black-square-color);
}

.flex-chessboard-row:nth-child(even) .flex-chessboard-item:nth-child(even) {
  background: var(--chessboard-white-square-color);
}

.flex-chessboard-row:nth-child(odd) .flex-chessboard-item:nth-child(odd) {
  background: var(--chessboard-white-square-color);
}
